<h1>Posts</h1>
<% if user_signed_in? %>
  <p>Welcome, <%= current_user.name || current_user.email %>!</p>
  <%= link_to 'New Post', new_post_path %>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>

<hr>

<% @posts.each do |post| %>
  <div>
    <h3><%= post.title %></h3>
    <p><%= post.body %></p>

    <% if user_signed_in? %>
      <p><em>Author: <%= post.user.name || post.user.email %></em></p>
    <% end %>

    <hr>
  </div>
<% end %>